<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />
</head>
<main>
  <section class="form-section">
    <div class="auth-container">
      <div class="left-wrapper">
        <div>
          <h1>Welcome Back</h1>
          <small class="form-text text-muted"
            >Continue where you left off</small
          >
        </div>
        <div class="form-wrapper">
          <form>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="email"
                placeholder="user@example.com"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                [(ngModel)]="password"
                id="password"
              />
            </div>
            <div class="btn-wrapper">
              <button type="submit" class="btn btn-primary" (click)="login()">
                Sign In
              </button>
              <button type="submit" class="btn btn-dark">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
      <div class="illustration-wrapper">
        <img src="/assets/kanban.svg" alt="kanban-svg" />
      </div>
    </div>
  </section>
</main>
