<main>
  <section class="add-board-section">
    <div>
      <button
        type="button"
        mat-button
        class="btn btn-primary"
        (click)="openDialog()"
      >
        Add Board
      </button>
    </div>
  </section>
  <section class="boards-section">
    <div class="boards-wrapper">
      <div
        class="board-card"
        *ngFor="let board of boards"
        (click)="onBoardClick(board)"
      >
        <div class="text-wrapper">
          <h4>{{ board.title }}</h4>
          <p>
            {{ board.description }}
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
